language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  # PyPy versions
  - "pypy2.7"
  - "pypy3.5"
install:
    - pip install -e .
    - pip install codecov pytest-cov hypothesis
script:
    - pytest --cov=squiggle
cache: pip
after_success:
    - codecov
